@if (showUploadModal()) {
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-[2px]"
  (click)="showUploadModal.set(false)"
>
  <div
    class="bg-background border border-border rounded-2xl w-full max-w-3xl mx-4 p-7 shadow-xl"
    (click)="$event.stopPropagation()"
  >
    <div class="flex items-start justify-between mb-9">
      <div class="flex items-center gap-5">
        <div class="border border-border p-3 rounded-full">
          <app-icon name="CloudUpload" [size]="25" class="text-accent" />
        </div>

        <div class="flex flex-col items-left gap-1">
          <h2 class="text-lg font-medium text-foreground">Upload document</h2>
          <p class="text-sm text-foreground-muted line-clamp-2">
            Select and upload the document you want to sign.
          </p>
        </div>
      </div>
      <button
        (click)="showUploadModal.set(false)"
        class="w-7 h-7 flex items-center justify-center rounded-md text-foreground-muted hover:bg-hover-background hover:text-foreground transition-colors cursor-pointer"
      >
        <app-icon name="X" [size]="15" />
      </button>
    </div>
    <dash-file-upload (uploadSuccess)="onUploadSuccess()" />
  </div>
</div>
}

<div class="w-full min-h-full">
  <div class="p-7">
    <div class="flex items-end justify-between gap-5 pb-5">
      <div>
        <div class="flex items-center gap-1.5 mb-5">
          <span class="text-[12.5px] font-medium text-foreground-muted">Documents</span>
          <app-icon name="ChevronRight" [size]="15" />
          <span class="text-[12.5px] font-medium text-foreground">My Documents</span>
        </div>

        <h1 class="text-3xl font-medium tracking-tight text-foreground leading-tight">
          My Documents
        </h1>
        <p class="text-[13px] font-light text-foreground-muted mt-1">
          All your uploaded and created documents in one place.
        </p>
      </div>

      <div class="flex items-center gap-2.5 shrink-0">
        <button
          class="flex items-center gap-1.5 px-4 py-2.5 text-[13px] font-medium border border-border rounded-lg bg-background text-foreground-muted hover:bg-background-subtle hover:text-foreground transition-colors cursor-pointer"
        >
          Export
          <app-icon name="ChevronDown" [size]="15" />
        </button>
        <button
          (click)="showUploadModal.set(true)"
          class="flex items-center gap-2 px-4 py-2.5 text-[13px] font-medium text-white bg-accent rounded-lg hover:bg-[#C36E51] active:scale-[0.98] transition-all cursor-pointer"
        >
          <app-icon name="Plus" [size]="15" />
          New Document
        </button>
      </div>
    </div>
  </div>

  <list-document #listDocument />
</div>
