<div class="w-full">
  @if (status(); as currentStatus) {
    <div
      [class]="
        currentStatus.type === 'success'
          ? 'bg-success-bg text-success-text border-success-border'
          : 'bg-error-bg text-error border-error-border'
      "
      class="mb-4 p-3 rounded-xl border flex items-center gap-3"
    >
      <div class="mt-0.5">
        @if (currentStatus.type === 'success') {
          <app-icon name="BadgeCheck" [size]="16" />
        } @else {
          <app-icon name="BadgeX" [size]="16" />
        }
      </div>
      <div class="flex-1">
        <p class="text-xs tracking-wide">{{ currentStatus.message }}</p>
      </div>
      <button (click)="status.set(null)" class="text-current opacity-50 hover:opacity-100">
        <app-icon name="X" [size]="13" />
      </button>
    </div>
  }

  <div
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="onDrop($event)"
    (click)="onDropZoneClick($event)"
    [class.border-accent]="isDragging()"
    [class.bg-hover-background]="isDragging()"
    [class.cursor-pointer]="!selectedFile()"
    [class.cursor-default]="selectedFile()"
    class="relative group border-2 border-dashed border-border p-8 text-center rounded-xl"
  >
    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event)"
      accept=".csv, .xlsx, .xls"
      class="hidden"
    />

    <div class="flex flex-col items-center gap-1">
      <div
        class="mb-4 p-4 bg-background rounded-full text-foreground-muted"
        [class.group-hover:text-accent]="!selectedFile()"
        [class.group-hover:bg-hover-background]="!selectedFile()"
      >
        @if (selectedFile()) {
          <app-icon name="FileSpreadsheet" [size]="30" class="text-accent" />
        } @else {
          <app-icon name="CloudUpload" [size]="30" />
        }
      </div>

      <h3 class="text-sm font-medium text-foreground mb-1">
        @if (selectedFile()) {
          {{ selectedFile()?.name }}
        } @else {
          Upload your data
        }
      </h3>

      <p class="text-xs text-foreground-muted mb-4">
        @if (selectedFile()) {
          {{ selectedFile()!.size | number: '1.0-0' }} bytes ready to upload
        } @else {
          Drag & drop or browse ( CSV, XLSX, XLS )
        }
      </p>

      @if (!selectedFile()) {
        <button
          type="button"
          (click)="$event.stopPropagation(); fileInput.click()"
          class="theme-inverse inline-flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-lg mt-3 bg-(--background) text-(--foreground) hover:bg-(--hover-background) cursor-pointer"
        >
          <app-icon name="FolderOpen" [size]="16" />
          Browse Files
        </button>
      }

      @if (selectedFile()) {
        <div class="flex items-center gap-3 mt-3" (click)="$event.stopPropagation()">
          <button
            type="button"
            (click)="discardFile()"
            [disabled]="isUploading()"
            class="inline-flex items-center gap-2 px-3 py-1.5 text-sm font-medium rounded-lg text-error bg-error-bg border border-error-border hover:bg-error-bg-hover cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
          >
            <app-icon name="Trash2" [size]="16" />
            Discard
          </button>
          <button
            type="button"
            (click)="confirmUpload()"
            [disabled]="isUploading()"
            class="theme-inverse inline-flex items-center gap-2 px-3 py-1.5 text-sm font-medium rounded-lg bg-(--background) text-(--foreground) border border-(--broder) hover:bg-(--hover-background) cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
          >
            @if (isUploading()) {
              <app-icon name="Loader" [size]="16" class="animate-spin" />
              Uploading
            } @else {
              <app-icon name="Upload" [size]="16" />
              Upload File
            }
          </button>
        </div>
      }
    </div>
  </div>
</div>
