<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="p-8 bg-white shadow-md rounded-lg w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Sign In</h2>
      <input type="email" formControlName="email" placeholder="Email" class="w-full p-2 mb-4 border border-border rounded">
      <input type="password" formControlName="password" placeholder="Password" class="w-full p-2 mb-4 border border-border rounded">
      <button type="submit" class="w-full p-2 my-5 rounded-md theme-inverse bg-(--background) text-(--foreground)">Login</button>
    <p class="mt-4 text-sm">Need an account? <a routerLink="/auth/signup" class="underline font-medium">Sign Up</a></p>
  </form>
</div>
